* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
;

}

.paginationjs {
    display: flex;
    justify-content: center;
}


.top-content {
    background-color: mediumaquamarine;
    text-align: center;
    color: black;
    position: float;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 80%;
    padding: 20px 0 10px 0;
    margin: 1% auto;
}

.center-content {
    width: 80%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1% auto;
}

.add-button {
    background-color: #009432;
    color: white;
    border: none;
    padding: 1em;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

.delete-button {
    background-color:black;
    color: white;
    border: none;
    display: inline-block;
}

.order-button {
    background-color: white;
    color: black;
    border: 5px solid black;
    padding: 20px 30px;
    font-size: 35px;
}

#price {
    color: red;
    text-align: right;
    margin-right: 3% 8%;
}